# Binary files
# =========================
*.dll
*.exe
*.bmp

# Build results
# =========================
build/
bin/

# Visual Studio
# =========================
.vs/
ipch/

*.suo
*.ilk
*.pch
*.pdb
*.sdf

*.psess
*.vsp
*.vspx
*.coverage
*.user

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
